

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;



  max-width: 333px; 
}


@media screen and (min-width: 704px) {
  .container {

    max-width: 704px;
  }
}


@media screen and (min-width: 1180px) {
  .container {

    max-width: 1180px;
  }
}


*,
*::after,
*::before {
box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    /* width: 100%; */
    height: auto; 
  
}

button {
    border: none;
    cursor: pointer;
}